[blog]
title = Die Welt ist gar nicht so.
subtitle = Sie ist ganz anders.

[blogroll]
Spreeblick = http://spreeblick.com
Netzpolitik = http://netzpolitik.org
Felix von Leitner = http://blog.fefe.de
Gerrit van Aaken = http://www.praegnanz.de
Sascha Lobo = http://saschalobo.com
Stefan Niggemeier = http://www.stefan-niggemeier.de/blog/
Udo Vetter = http://www.lawblog.de
