[blog]
title = Blogtitel
subtitle = Blog-Untertitel
footer = Proudly made without PHP, Java, Perl, MySQL and Postgres.

[users]
a = b
ccc = ddd

[blogroll]
Spreeblick = http://spreeblick.com
Netzpolitik = http://netzpolitik.org
Felix von Leitner = http://blog.fefe.de
Gerrit van Aaken = http://www.praegnanz.de
Sascha Lobo = http://saschalobo.com
Stefan Niggemeier = http://www.stefan-niggemeier.de/blog/
Udo Vetter = http://www.lawblog.de
