/* reset */

* {
 /*border: none;*/
 font: inherit;
 font-size: 100%;
 margin: 0;
 padding: 0;
 text-decoration: none;
 vertical-align: baseline;
}

/* global attributes */

[title] {
 border-bottom: 1px dotted;
 cursor: help;
}

[hidden] {
 display: none;
}

/* root element */

html {
 background: white;
 font-family: 'Sans', sans-serif;
 line-height: 1.5;
}

html, body, form {
 -ms-box-sizing: border-box;
 -moz-box-sizing: border-box;
 -o-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 height: 100%;
}

/* sections */

body {
 display: block;
 margin: 0 auto;
 padding: 3em;
 max-width: 39em;
}

body > * {
 max-width: 33em;
}

section, nav, article, aside {
 display: block;
 margin-bottom: 1.5em;
}

article * {
 max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
 display: block;
 text-align: left;
}

h1 {
 font-size: 3em;
 line-height: 1;
 margin-bottom: 0.5em;
}

section h1, nav h1, article h1, aside h1,
h2 {
 font-size: 2em;
 margin-bottom: 0.75em;
}

section section h1, section nav h1, section article h1, section aside h1,
article section h1, article nav h1, article article h2, article aside h1,
section h2, nav h2, article h2, aside h2,
h3 {
 font-size: 1.5em;
 line-height: 1.33;
 margin-bottom: 1.5em;
}

article header {
 margin-bottom: 1.5em;
}

body > nav ul > li {
 display: inline-block;
}

/* grouping content */

p, ol, ul {
 margin: 1.5em 0;
}

ul {
 list-style-type: square;
}

ol {
 list-style-type: square;
}

/* text-level semantics */

cite {
 font-style: italic;
}

abbr {
 letter-spacing: 0.1em;
}

code, var, samp, kbd {
 font-family, 'Monospace', monospace;
 overflow-x: auto;
 whitespace: pre;
}

var {
 font-style: italic;
}

sub, sup {
 font-size: 0.75em;
}

sub {
 vertical-align: sub;
}

sup {
 vertical-align: super;
}

i {
 font-style: italic;
}

b {
 font-weight: bold;
}

/* embedded content */

img, audio, video {
 border: 1px solid;
 width: 100%;
}

/* forms */

form {
 position: relative;
}

form, form > * {
 display: block;
 width: 100%;
}

form #toolbar {
 bottom: 0;
 height: 3em;
 position: absolute;
}

form #editor {
 bottom: 6em;
 position: absolute;
 top: 0;
}

textarea {
 border: 1.5em solid white;
 height: 100%;
 margin-left: -1.5em;
 margin-top: -1.5em;
 outline: 1px solid #ccc;
 white-space: nowrap;
 width: 100%;
}

textarea, .wysihtml5-editor {
 background: -ms-repeating-linear-gradient(top, transparent, transparent 1.4375em, #ccc 1.4375em, #ccc 1.5em);
 background: -moz-repeating-linear-gradient(top, transparent, transparent 1.4375em, #ccc 1.4375em, #ccc 1.5em);
 background: -o-repeating-linear-gradient(top, transparent, transparent 1.4375em, #ccc 1.4375em, #ccc 1.5em);
 background: -webkit-repeating-linear-gradient(top, transparent, transparent 1.375em, #ccc 1.375em, #ccc 1.5em);
 background: repeating-linear-gradient(top, transparent, transparent 1.4375em, #ccc 1.4375em, #ccc 1.5em);
 }

input[type=submit], button {
 font-weight: bold;
 height: 3em;
 width: 15.75em;
}

input[type=submit] {
 float: right;
}

button {
 float: left;
}


table.posts tr td:first-of-type {
 display: block;
 position: relative;
 left: -6.75em;
 margin-bottom: 0.75em;
 margin-right: -6.75em;
 width: 6.75em;
}