/* reset */

* {
 /*border: none;*/
 font: inherit;
 font-size: 100%;
 margin: 0;
 padding: 0;
 text-decoration: none;
 vertical-align: baseline;
}

/* global attributes */

[title] {
 border-bottom: 1px dotted;
 cursor: help;
}

[hidden] {
 display: none;
}

/* root element */

html {
 background: white;
 font-family: 'Sans', sans-serif;
 line-height: 1.5;
}

html, body, form {
 -ms-box-sizing: border-box;
 -moz-box-sizing: border-box;
 -o-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 height: 100%;
}

/* sections */

body {
 display: block;
 margin: 0 auto;
 padding: 3em;
 max-width: 39em;
}

body > * {
 max-width: 33em;
}

section, nav, article, footer, table, form {
 display: block;
 margin-bottom: 1.5em;
}

article * {
 max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
 display: block;
 text-align: left;
}

h1 {
 font-size: 3em;
 line-height: 1;
 margin-bottom: 0.5em;
}

section h1, nav h1, article h1, aside h1, .wysihtml5-editor h1,
h2 {
 font-size: 2em;
 margin-bottom: 0.75em;
}

section section h1, section nav h1, section article h1, section aside h1,
article section h1, article nav h1, article article h2, article aside h1,
section h2, nav h2, article h2, aside h2, .wysihtml5-editor h2,
h3 {
 font-size: 1.5em;
 line-height: 1.33;
 margin-bottom: 1.5em;
}

article header {
 margin-bottom: 1.5em;
}

body > nav ul > li {
 margin-right: 0.75em;
 display: inline-block;
}

body > nav ul > li > a {
 -ms-appearance: button;
 -moz-appearance: button;
 -o-appearance: button;
 -webkit-appearance: button;
 appearance: button;
 color: inherit;
 display: table-cell;
 text-align: center;
 vertical-align: middle;
}

/* grouping content */

p, ol, ul {
 margin: 1.5em 0;
}

ul {
 list-style-type: square;
}

ol {
 list-style-type: square;
}

/* text-level semantics */

cite {
 font-style: italic;
}

abbr {
 letter-spacing: 0.1em;
}

code, var, samp, kbd {
 font-family, 'Monospace', monospace;
 overflow-x: auto;
 whitespace: pre;
}

var {
 font-style: italic;
}

sub, sup {
 font-size: 0.75em;
}

sub {
 vertical-align: sub;
}

sup {
 vertical-align: super;
}

i {
 font-style: italic;
}

b {
 font-weight: bold;
}

/* edits */

article {
 counter-reset: edit;
}

del, ins {
}

ins, ins > p {
 text-decoration: none;
}

del, del > p {
 text-decoration: line-through;
}

p > ins::before {
    content: "⌊";
    font-weight: bold;
}

p > ins::after {
    content: "⌋";
    font-weight: bold;
}

article > ins > :first-child::before {
    content: "⌊Update (" counter(edit, decimal) "): ";
    counter-increment: edit;
    font-weight: bold;
}

article > ins:first-of-type > :first-child::before {
    content: "⌊Update: ";
    counter-increment: edit;
    font-weight: bold;
}

article > ins > :last-child::after {
    content: "⌋";
    font-weight: bold;
}

/* embedded content */

img, audio, video {
 border: 1px solid;
 width: 100%;
}

/* forms */

form {
 position: relative;
}

form, form > * {
 width: 100%;
}

form #toolbar {
 bottom: 0;
 height: 3em;
 position: absolute;
}

form #editor {
 bottom: 4.5em;
 position: absolute;
 top: 0;
}

textarea {
 border: none;
 height: 100%;
 white-space: nowrap;
 width: 100%;
}

textarea, .wysihtml5-editor {
 background: -ms-repeating-linear-gradient(top, transparent, transparent 1.4375em, #ccc 1.4375em, #ccc 1.5em);
 background: -moz-repeating-linear-gradient(top, transparent, transparent 1.4375em, #ccc 1.4375em, #ccc 1.5em);
 background: -o-repeating-linear-gradient(top, transparent, transparent 1.4375em, #ccc 1.4375em, #ccc 1.5em);
 background: -webkit-repeating-linear-gradient(top, transparent, transparent 1.375em, #ccc 1.375em, #ccc 1.5em);
 background: repeating-linear-gradient(top, transparent, transparent 1.4375em, #ccc 1.4375em, #ccc 1.5em);
 }

nav ul > li > a, input[type=submit], button {
 font-weight: bold;
 height: 3em;
 width: 15.75em;
}

input[type=submit] {
 float: right;
}

button {
 float: left;
}

table.posts td {
 min-width: 7.5em;
}

table.posts td:last-of-type {
 opacity: 0.8;
 text-align: right;
)