[contenteditable],
input, textarea {
    outline: 1px solid;
    background: white;
}

.editable {
    outline: 1px dashed #98abb9;
    outline-offset: 2px;
}

html::before,
a {
    background-color: #eeeeec !important;
    color: #2e3436 !important;
}

body > header,
a:hover {
    background-color: #2e3436 !important;
    border-bottom-color: #2e3436 !important;
    color: #eeeeec !important;
    outline-color: #2e3436 !important;
}

body {
    background-color: #eeeeec;
    background-attachment: scroll;
    background-image: url('/static/lines.png');
    color: #2e3436;
}

button {
    appearance: button;
}

#blogroll {
    list-style: none;
}

#blogroll > li {
    display: block;
    font-size: 1.5em;
    height: 1.3333em;
}

#blogroll > li > img {
    vertical-align: sub;
}

button#edit {
    background: #cce2ff;
    color: #001633;
}

button#save {
    background: #4e9a06;
    color: #eeeeec;
}

button#abort {
    background: #ce5c00;
    color: #eeeeec;
}
