body {
    border: 1px solid #2e3436;
    background-image: url('/static/lines.png');
}

#blogroll {
    list-style: none;
}

#blogroll > li {
    display: block;
    font-size: 1.5em;
    height: 2em;
}

#blogroll > li > img {
    vertical-align: sub;
}
