body {
    background-attachment: scroll;
    background-image: url('/static/lines.png');
    border: 1px solid #2e3436;
}

#blogroll {
    list-style: none;
}

#blogroll > li {
    display: block;
    font-size: 1.5em;
    height: 2em;
}

#blogroll > li > img {
    vertical-align: sub;
}

button#edit {
    background: #204a87;
    color: #eeeeec;
}

button#save {
    background: #4e9a06;
    color: #eeeeec;
}

button#abort {
    background: #ce5c00;
    color: #eeeeec;
}
