body {
    margin: 3em auto;
    position: relative;
    width: 58em;
}

h1, h2, h3, h4, h5, h6 {
    display: inline-block;
}

article {
    position: relative;
}

footer {
    clear: both;
}

#top {
    display: block;
    position: absolute;
    top: 3em;
    right: 3em;
    height: 3em;
    text-align: right;
}

#main, #sidebar {
    margin: 1.5em auto;
}

#main {
    float: left;
    width: 34em;  /* <http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.2/> */
}

#sidebar {
    float: right;
    width: 21em;  /* golden ratio */
}

a.permalink {
    font-size: 2em;
    left: -1em;
    line-height: 0.75;
    margin: 0.75em 0;
    position: absolute;
}
